[submodule "dependencies/fmt"]
	path = dependencies/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "dependencies/spdlog"]
	path = dependencies/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "dependencies/cxxopts"]
	path = dependencies/cxxopts
	url = git@github.com:jarro2783/cxxopts.git
[submodule "dependencies/Catch2"]
	path = dependencies/Catch2
	url = git@github.com:catchorg/Catch2
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "dependencies/magic_enum"]
	path = dependencies/magic_enum
	url = git@github.com:Neargye/magic_enum.git
[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = git@github.com:glfw/glfw.git
[submodule "dependencies/implot"]
	path = dependencies/implot
	url = git@github.com:epezent/implot.git
